body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #363636;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #0060a4, #919191);
    background-size: cover;
    font-size: 150%;
    color: white;
}


.search {
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    z-index: 50;
    top:  0px;
}

#search-bar {
    border: none;
    outline: none;
    border-radius: 25px;
    background:  rgba(0, 0, 0, 0.502);
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;

}

#input {
    border: none;
    outline: none;
    background: rgba(75, 75, 75, 0);
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: 90%;
    margin: 0;
    padding: 7px;
    padding-left: 15px;
}

.search-button {
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.502);
    color: white;
    align-self: flex-start;
}

.search-button:hover {
    background-color: rgba(0, 0, 0, 0.187);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}


.results-container{
    margin: 50px;
    position: relative;
    top: 150px
}

.city-name{
    font-size: 170%;
}

.description {
    text-transform: capitalize;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-degree {
    display: flex;
    align-items: center;
}

#unit-button {
    margin: 0.5em;
    border-radius: 20%;
    border: none;
    height: 30px;
    width: 30px;
    outline: none;
    background-color: rgba(47, 135, 244, 0.689);
    color: white;
    margin-right: 20px;
}


#unit-button:hover {
    background-color: rgba(36, 108, 195, 0.689);
}


.search-bar-child {
    border: none;
    outline: none;
    background: rgba(75, 75, 75, 0);
    color: rgb(100, 100, 100);
    font-family: inherit;
    font-size: 105%;
    width: 90%;
    margin: 0;
    padding: 7px;
    padding-left: 15px;
    text-align: left;
}

.search-bar-child:hover {
    color: white;
    cursor: pointer;
}